.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    
}
.filters button:hover {background-color: rgb(255, 0, 0, 0.5);}

.filters .locations,
.filters .amenities {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 25%;
}

.filters .locations {
    border-right: 1px solid #ddd;
}

/* Locations and amenities hover opacity */
.filters .locations:hover,
.filters .amenities:hover {
  background-color: #fafafa;
}

/* Locations and amenities popover menu */
.filters .popover {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  position: absolute;
  width: 100%;
}

/* Locations and amenities popover hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}

/* Locations list style */
.filters .locations ul {
  padding: 6px 0 6px 0;
}

/* Locations list element margin */
.filters .locations li {
  margin: 0 auto 6px 3em;
}

/* Amenities list element margin */
.filters .amenities li {
  margin: 12px auto 12px 30px;
}


.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 10%;
}